<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="com.woojungcard.woojungcard.repository.StoreRepository">
	<select id="findById" resultType="com.woojungcard.woojungcard.domain.dto.StoreDTO">
	<![CDATA[
	select* from store
	]]>
	</select>
	<!-- 아이디 중복 체크 -->
	<select id="storeIdCheck" resultType="int" parameterType="com.woojungcard.domain.request.StoreIdCheckRequest">
		<![CDATA[
		SELECT
			count(*)
		FROM
			store
		WHERE
			store_ID = #[storeId}
		]]>
	</select>
	
	<!-- 스토어 회원가입 -->
	<insert id ="storeSignUp" parameterType="com.woojungcard.woojungcard.domain.request.StoreSignUpRequest">
		<![CDATA[
			INSERT INTO
				store(business_Number,store_Pwd,store_name,representative,store_address,store_tel,store_join_date)
				
				VALUES
					(#{storeId}, #{storePwd}, #{storeName}, #{storeBirth},#{storeGender}, #{storeTel},now())
					
		]]>
	</insert>
</mapper>