<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woojungcard.woojungcard.repository.StoreRepository">
	<select id="findById" resultType="com.woojungcard.woojungcard.domain.dto.StoreDTO">
	<![CDATA[
	select* from store
	]]>
	</select>
	<!-- 아이디 중복 체크 -->
	<select id="storeIdCheck" resultType="int" parameterType="com.woojungcard.woojungcard.domain.request.StoreIdCheckRequest">
		<![CDATA[
		SELECT
			count(*)
		FROM
			store
		WHERE
			business_number = #{businessNumber}
		]]>
	</select>
	
	<!-- 스토어 회원가입 -->
	<insert id ="storeSignUp" parameterType="com.woojungcard.woojungcard.domain.request.StoreSignUpRequest">
		<![CDATA[
			INSERT INTO
				store(business_Number,store_Pwd,store_name,representative,store_address,store_tel,business_start_date,business_type)				
			VALUES
				(#{businessNumber}, #{storePwd}, #{storeName}, #{representative},#{storeAddress},#{storeTel},#{businessStartDate},#{businessType})
		]]>
	</insert>
	<update id="storeInfoUpdate" parameterType="com.woojungcard.woojungcard.domain.request.StoreUpdateRequest">
		<![CDATA[
			UPDATE 
				store
			SET
				owner_name= #{ownerName},
				store_pwd=#{storePwd},
				store_zip_code=#{storeZipCode},
				store_address1=#{storeAddress1},
				store_address2=#{storeAddress2},
				store_tel=#{storeTel}
			WHERE 
				id= #{id}
		]]>
	</update>
	
	<select id="findBNById" parameterType="com.woojungcard.woojungcard.domain.request.StoreFindBNByIdRequest">
		<![CDATA[
			SELECT
				business_number
			FROM
				store
			WHERE
				id=#{id}
		]]>
	</select>
	
</mapper>