<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woojungcard.woojungcard.repository.StoreRepository">
	<select id="findById" resultType="com.woojungcard.woojungcard.domain.dto.StoreDTO">
		<![CDATA[
			SELECT	* 
			FROM    store
		]]>
	</select>
	
	<!-- 아이디 중복 체크 -->
	<select id="storeIdCheck" resultType="int" parameterType="com.woojungcard.woojungcard.domain.request.StoreIdCheckRequest">
		<![CDATA[
			SELECT	count(*)
			FROM	store
			WHERE	business_number = #{businessNumber}
		]]>
	</select>
	
	<!-- 스토어 회원가입 -->
	<insert id ="storeSignUp" parameterType="com.woojungcard.woojungcard.domain.request.StoreSignUpRequest">
		<![CDATA[
			INSERT INTO	 store(business_Number,
							   store_pwd,
							   representative,
							   store_name,
							   store_zip_code,
							   store_address1, 
							   store_address2,
							   business_type,
							   business_start_date,
							   store_tel,
							   store_join_date,
							   state,
							   auth)		
			VALUES 			  (#{businessNumber}, 
				       	       #{storePwd},
							   #{representative},
						  	   #{storeName},
						 	   #{storeZipCode},
							   #{storeAddress1},
							   #{storeAddress2},
							   #{businessType},
							   #{businessStartDate},
							   #{storeTel},
							   now(),
							   "WATING",
							   "STORE")
		]]>
	</insert>
	
	<!-- 스토어 정보 변경 -->
	<update id="storeInfoUpdate" parameterType="com.woojungcard.woojungcard.domain.request.StoreUpdateRequest">
	<![CDATA[
		UPDATE 		store
		SET			representative = #{representative},
					store_pwd      = #{storePwd},
					store_zip_code = #{storeZipCode},
					store_address1 = #{storeAddress1},
					store_address2 = #{storeAddress2},
					store_tel 	   = #{storeTel}
		WHERE 		id      	   = #{id}
	]]>
	</update>
	<!-- 스토어 비밀번호 찾기 -->
	<select id="findPwdById" parameterType="Long" resultType="String">
		<![CDATA[
			SELECT	store_pwd
			FROM	store
			WHERE	id = #{id}
		]]>
	</select>
	<!-- 스토어 사업자 번호 찾기 -->
	<select id="findBNById" parameterType="com.woojungcard.woojungcard.domain.request.StoreFindBNByIdRequest">
		<![CDATA[
			SELECT	business_number
			FROM	store
			WHERE	id=#{id}
		]]>
	</select>
	
	<!-- 스토어 로그인 -->
	<select id = "storeLogin" resultType="com.woojungcard.woojungcard.domain.dto.StoreDTO" parameterType="com.woojungcard.woojungcard.domain.request.StoreLoginRequest">
		<![CDATA[
			SELECT	id
			FROM	store
			WHERE	business_number = #{businessNumber} 
			AND 	store_pwd 		= #{storePwd}
		]]>
	</select>
	
	<!-- 스토어 정보 조회 -->
	<select id= "storeGetInfo" resultType="com.woojungcard.woojungcard.domain.response.StoreInfoResponse" parameterType="long">
		<![CDATA[
			SELECT		business_Number,
						representative,
						store_name,
						store_zip_code,
						store_address1, 
						store_address2,
						business_type,
						business_start_date,
						store_tel,
						store_join_date,
						state,
						auth
			FROM		store
			WHERE		id = #{id}	
		]]>
	</select>
	
	<!--  스토어 등록 정보 조회 -->
	<select id = "storeAppInfo" resultType="com.woojungcard.woojungcard.domain.response.StoreAppInfoResponse">
		<![CDATA[
	    	SELECT 		id,
	    				business_Number,
						representative,
						store_name,
						business_type,
						store_zip_code,
						store_address1,
						store_address2,
						business_type,
						business_start_date,
						store_tel, 
						store_join_date
	    	FROM   		store
	    	WHERE  		state = "USE"
	   		AND 		auth   = "STORE"
    	]]>
	</select>

	<!-- 스토어 승인상태 조회 -->
	<select id = "storeAppStatus" resultType="com.woojungcard.woojungcard.domain.response.StoreAppStatusResponse">
		<![CDATA[
	    	SELECT		id,
		   				business_number,
						representative,
						store_name,
						business_type,
						store_zip_code,
						store_address1, 
						store_address2,
						business_start_date,
						store_tel,
						state
	    	FROM   		store
	    	WHERE  		state = 'WAITING'
    	]]>
	</select>

	<!--  스토어 승인으로 변경 -->
		<select id = "storeAppStatusChange" parameterType="com.woojungcard.woojungcard.domain.response.StoreAppStatusResponse" resultType="Integer">
		<![CDATA[
    		UPDATE 	store
			SET 	state = "USE"
			WHERE 	id     = #{id}
    	]]>
	</select>
	<!--  스토어 매출관리 조회 -->
	<select id = "storeSalesManagement" parameterType="com.woojungcard.woojungcard.domain.request.StoreSalesManagementRequest" resultType="com.woojungcard.woojungcard.domain.response.StoreSalesManagementResponse" >
		<![CDATA[
	    	SELECT		t.payment_date 		AS payment_date,
 						t.approval_number 	AS approval_number,
						i.card_number 		AS card_number,		
						t.installment 		AS installment,
						t.card_charge 		AS card_charge
	    	FROM   		transaction 		AS t
	    	INNER JOIN	card_issued 		AS i
    		ON 			t.card_issued_id 	  = i.id
			WHERE 		t.store_id 			  = #{storeId}
			AND			YEAR(t.payment_date)  = #{targetYear}
			AND			MONTH(t.payment_date) = #{targetMonth}
    	]]>
	</select>
	<!--스토어 판매 영수증 세부 정보 -->
	<select id="storeSalesReceiptDetails" resultType="com.woojungcard.woojungcard.domain.response.StoreSalesReceiptResponse" parameterType="com.woojungcard.woojungcard.domain.request.StoreSalesReceiptRequest">
		<![CDATA[
			SELECT 	count(id)        AS numberOfCases, 
			    	sum(card_charge) AS monthlySales 
			FROM 	transaction 
			WHERE	store_id            = #{storeId} 
			AND 	year(payment_date)  = #{targetYear} 
			AND 	month(payment_date) = #{targetMonth}
		]]>	
	</select>
	<!--스토어 결제 삽입 -->
	<insert id="insertStorePayment" parameterType="com.woojungcard.woojungcard.domain.request.StorePaymentRequest">
		<![CDATA[
			INSERT INTO 	payment(payer, target_id, target_year, target_month, payment, payment_date, payment_state)
			VALUES 	 		("STORE", #{storeId}, #{targetYear}, #{targetMonth}, #{payment}, now(), "FULL")
		]]>
	</insert>
	<!--스토어 결제 보증금 가져오기  -->
	<select id="getStorePaymentDeposit" parameterType="com.woojungcard.woojungcard.domain.request.StorePaymentDepositRequest" resultType="Long">
		<![CDATA[
			SELECT	SUM(payment)
			FROM	payment 
			WHERE	payer 		 = "STORE" 
			AND		target_id 	 = #{storeId}
			AND		target_year  = #{targetYear}
			AND		target_month = #{targetMonth}
		]]>
	</select>
</mapper>