<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test">
    <select id="findById" resultType="User">
    	<![CDATA[
        select * from user WHERE id = #{id}
        ]]>
    </select>
    
    <insert id="insertUser" parameterType="SignUpRequest">
        <![CDATA[
            insert into user (user_id, user_pwd, user_name, user_birth, user_gender, user_tel, user_join_date)
            values (#{userId}, #{userPwd}, #{userName}, #{userBirth}, #{userGender}, #{userTel}, now())
        ]]>
    </insert>
</mapper>
